@{
    ViewData["Title"] = "Home Page";
}

<h1>Bienvenido a mi proyecto ASP.NET Core MVC</h1>
<p>Este es el contenido de la vista principal.</p>

<div>
    <p>Aquí puedes agregar más información o contenido dinámico utilizando el modelo.</p>
</div>